snippet desc "Rspec describe block"
describe "$1" do
	$0
end
endsnippet

snippet it "Rspec it block"
it "$1" do
	$0
end
endsnippet

snippet context "Context block" b
context "${1:Context}" do
	$0
end
endsnippet
